@model IEnumerable<Entities.House>

@{
    ViewData["Title"] = "Index";
}
@section CSS{
<link rel="stylesheet" href="~/lib/notyf/notyf.min.css">
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
}

<div class="container">
    <div class="row">
        <h1 class="text-center mt-3"><span class="primary-color"><i class="fas fa-home"></i></span> <span
                class="secondary-color">Houses</span></h1>
        <table class="table table-responsive" id="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Province)
                    </th>
                    <th> <a class="btn btn-success" asp-action="Create"><i class="fas fa-plus"></i> Create New</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var house in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => house.Name)
                        </td>
                        <td>
                            @house.Price.ToCurrency()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => house.Province.Name)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@house.HouseId"><i
                                class="far fa-eye"></i>
                                Details</a>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@house.HouseId"><i
                                class="far fa-edit"></i>
                                Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script src="~/js/Invoices/invoices.js"></script>
<script src="~/lib/notyf/notyf.min.js"></script>
<script src="~/js/house_list.js"></script>

@if(TempData["TransactionCompleted"]!=null){
<script src="~/js/House/showNotification.js"></script>
}

<script src="~/js/smallContent.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
}
