<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> RentME - @ViewData["Title"]</title>
    @* Icon *@
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    @* Google Fonts *@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    @* Google Fonts *@
    @* Custom Google Fonts *@
    @RenderSection("FONTS", required: false)
    @* MDB - CCS *@
    <link rel="stylesheet" href="~/lib/mdb/css/mdb.min.css">
    @* Font-Awesome *@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    @* Common CSS *@
    <link rel="stylesheet" href="~/css/share.css">
    @* Custom CSS *@
    @RenderSection("CSS", required: false)
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="form-container mt-3">
                <h1 class="text-center"><a asp-controller="Home" asp-action="Index" class="primary-color">RentME</a>
                </h1>
                @RenderBody()
            </div>
        </div>
    </div>

    @* Common Scripts *@
    @* ** MDB *@
    <script src="~/lib/mdb/js/mdb.min.js"></script>
    @* Custom Scripts *@
    @RenderSection("Scripts", required: false)
</body>