@model IEnumerable<Entities.Service>

@{
    ViewData["Title"] = "Index";
}

@section CSS{
<link rel="stylesheet" href="~/lib/notyf/notyf.min.css">
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
}

<div class="container">
    <div class="row">
        <h1 class="text-center mt-3"><span class="primary-color"><i class="fas fa-home"></i></span> Services</h1>
        <div class="table-responsive">
            <table class="table table-hover" id="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th> <a class="btn btn-success" asp-action="Create"><i class="fas fa-plus"></i> Create New</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model)
                    {
                            <tr>
                                <td>
                                @Html.DisplayFor(modelItem => service.Name)
                                </td>
                                <td>
                                @service.Price.ToCurrency()
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => service.Description)
                                </td>
                                <td>
                                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@service.ServiceId"><i
                                class="far fa-edit"></i>
                                        Edit</a>
                                </td>
                            </tr>
                    }
            </tbody>
        </table>
        </div>
    </div>
</div>
@section Scripts{
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script src="~/js/Invoices/invoices.js"></script>
<script src="~/lib/notyf/notyf.min.js"></script>
<script src="~/js/service_list.js"></script>
@if(TempData["TransactionCompleted"]!=null){
<script src="~/js/House/showNotification.js"></script>
}
<script src="~/js/smallContent.js"></script>
}